@import '../../vars.css';
.container{
    color: var(--color-text);
    background-color: rgb(231, 241, 243);
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.container a{
    text-decoration: none;
    color:rgb(27, 117, 227);
    /* margin-top: 20px; */
    font-size: .75rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
}
.container p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
.logo{
    width: 2%;
    height: auto;
    object-fit: cover;
}
.content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.9rem;
}
.title{
    padding-top: 6px;
    font-size: 30px;
    font-weight: 500;
    font-family: var(--fonts-robot);
    /* font-size: 35px */
}
@media screen and (max-width: 830px) {
    .container {
        padding: 20px;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-size: 24px;
    }
    .logo {
        width: 6%;
    }
    .container a {
        font-size: 0.7rem;
    }
    p {
        font-size: 0.7rem;
    }
    
}