@import '../../vars.css';
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
  gap: 30px;
  height: 650px;
  background-color: rgb(226, 239, 245);
  padding:130px 120px 50px 120px;
}
.content {
  gap: 20px;
}    
.partnerone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 110px;
}
.content p{
    padding-left: 235px;
    padding-right: 250px;
}
.partnerone img{
    width: 15%;
    height: auto;
}
.partnertwo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 180px;
}
.eq {
    width: 20%;
    height:auto;
}
.heading{
    text-align: center;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
    font-family: var(--fonts-robot);
}
.nl{
    width: 7%;
}

@media screen and (max-width: 830px) {
  .container {
    padding: 20px;
    height: auto;
  }
  .content {
    width: 100%;
    padding: 0 20px;
    gap: 20px;
  }
  .partnerone, .partnertwo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .partnerone img, .partnertwo img, .eq {
    width: 50%;
  }
  .content p {
    padding-left: 20px;
    padding-right: 20px;
  }
}