@import '../../vars.css';
.container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
  /* padding: 0 var(--spacing-4); */
}
.content{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 200px 100px 100px 170px;
    gap: 40px;
}
.content h2 {
  font-size: 32px;
  font-weight: 500;
  font-family: var(--fonts-robot);
}
.content button{
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: rgb(61, 99, 210);
}
.content button:hover {
  background-color: #2417df;
  color: white;
}
.image {
  width: 50%;
  /* display: flex; */
  justify-content: center;
  align-items: center;

}
.image img {
  width: 70%;
  height: auto;
  align-self: center;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .content {
    padding: 150px 80px 80px 120px;
  }
  .content h2 {
    font-size: 28px;
  }
  .image img {
    width: 75%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .content {
    width: 100%;
    padding: 50px 30px;
    gap: 25px;
    text-align: center;
  }
  .content h2 {
    text-align: center;
    padding-right: 0;
    font-size: 26px;
  }
  .content button {
    width: 180px;
    height: 45px;
    font-size: 15px;
    align-items: center;
  }
  .image {
    width: 100%;
    height: auto;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
  }
  .image img {
    width: 60%;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .container {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .content {
    padding: 40px 20px;
    gap: 20px;
  }
  .content h2 {
    font-size: 22px;
  }
  .content button {
    width: 160px;
    height: 40px;
    font-size: 14px;
  }
  .image {
    padding: 20px 30px;
  }
  .image img {
    width: 70%;
  }
}

/* Small Mobile */
@media screen and (max-width: 320px) {
  .container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .content {
    padding: 30px 15px;
    gap: 15px;
  }
  .content h2 {
    font-size: 20px;
  }
  .content button {
    width: 140px;
    height: 38px;
    font-size: 13px;
  }
  .image {
    padding: 15px 20px;
  }
  .image img {
    width: 80%;
  }
}