@import "../../vars.css";
.container {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin:49px 10% 0 10%;
  z-index:1;
  padding: 20px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  color: var(--color-text);
  z-index: 1;
}
.title{
  font-size:62px;
  font-weight: 700;
  font-family: var(--font-roboto);
  -webkit-text-fill-color: rgb(217, 177, 102);
  -webkit-background-clip: text;
  background-clip: text;

}
.description {
  font-size: 30px;
  /* font-weight: 500; */
  font-family: var(--font-roboto);
  margin-bottom: 30px;
  margin-top: 25px;
}
.btn{
  background-color:rgb(249, 249, 250);
  color: rgb(49, 49, 237);
  padding: 10px 20px;
  border: 2px solid rgb(49, 49, 237);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.btn:hover{
  background-color: rgb(27, 78, 233);
  color: white;
  border:1px solid white;
  box-shadow: 0 0 10px rgb(245, 241, 241);
}
.buttons{
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.heroText{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-roboto);
  color: var(--color-text);
  margin-bottom: 20px;
}
.heroImg{
  width:30%;
  height: auto;
}
/* .topBlur{
    position:absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    min-height: 350px;
    top: -128px;
    left: -10vw;
    border-radius: 764px;
    background: rgba(122, 149, 200, 0.7);
    filter: blur(100px);
    z-index: 0;
} */
/* .bottomBlur{
    position:absolute;
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: 246px;
    right: -25vw;
    border-radius: 764px;
    background: rgba(128, 173, 242, 0.7);
    filter: blur(100px);
    z-index: 0;
} */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 20px 5%;
  }
  .content {
    align-items: center;
    text-align: center;
  }
  .heroImg {
    width: 100%;
    height: auto;
  }
  .topBlur {
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: -128px;
    left: -10vw;
  }
   .bottomBlur {
    width: 70vw;
    height: 50vw;
    min-width: 350px;
    min-height: 250px;
    top: -128px;
    right: -10vw;
  }
  .heroImg{
    width: 50%;
    height: auto;
    padding-bottom: 500px;
  }
}