@import '../../vars.css';

.container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 0 125px 0 120px;
  gap: 30px;

  
  /* height: 100%; */
}
.content h2{
  padding-right: 270px;
  font-size: 32px;
  font-weight: 500;
  font-family: var(--fonts-robot);
}
.mobile {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.mobile img {
  width: 50%;
  height: auto;
}
.images img{
  width:70%;
  height: auto;
  margin-top: 10px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 100%;
    padding: 0 20px;
    gap: 20px;
  }
  .content h2{
    padding-right: 0;
    text-align: center;
  }
  .mobile {
    width: 100%;
    margin-top: 40px;
  } 
  .images img {
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: center;
  }    
  
}