@import '../../vars.css';

.container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 0 125px 0 120px;
  gap: 30px;

  
  /* height: 100%; */
}
.content h2{
  padding-right: 270px;
  font-size: 32px;
  font-weight: 500;
  font-family: var(--fonts-robot);
}
.mobile {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.mobile img {
  width: 50%;
  height: auto;
}
.images img{
  width:70%;
  height: auto;
  margin-top: 10px;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .content {
    padding: 0 80px 0 80px;
  }
  .content h2 {
    padding-right: 0;
    font-size: 28px;
  }
  .mobile img {
    width: 45%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .content {
    width: 100%;
    padding: 0 30px;
    gap: 20px;
  }
  .content h2 {
    padding-right: 0;
    text-align: center;
    font-size: 26px;
  }
  .mobile {
    width: 100%;
    margin-top: 40px;
  }
  .mobile img {
    width: 50%;
  }
  .images img {
    width: 70%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .content {
    padding: 0 20px;
    gap: 15px;
  }
  .content h2 {
    font-size: 22px;
  }
  .mobile {
    margin-top: 30px;
  }
  .mobile img {
    width: 60%;
  }
  .images img {
    width: 80%;
  }
}

/* Small Mobile */
@media screen and (max-width: 320px) {
  .content {
    padding: 0 15px;
  }
  .content h2 {
    font-size: 20px;
  }
  .mobile img {
    width: 70%;
  }
  .images img {
    width: 90%;
  }
}