@import "../../vars.css";

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;

}
.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}
/* .btn{
    background-color:#007BFF;
    font-weight: 600;
    color: rgb(250, 249, 249);
    padding: 10px 20px;
    border: 1px solid rgb(4, 0, 0);
    border-radius: 8px;
    cursor: pointer; 
  }
.btn:hover {
    background-color: rgb(247, 247, 248);
    color: rgb(9, 8, 8);
    box-shadow: 0 0 20px rgba(4, 43, 82, 0.25);
  } */
.menu {
  display: flex;

}
.menuitems {
  display: flex;
  gap:47px;
  list-style: none;
  margin-top: 13px;
}
.menuitems a {
  font-size: 25px;
  color :var(--color-text);
  text-decoration: none;
  font-family: var(--fonts-robot);
}

.menuBtn {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}
.it:hover{
  color: #007bff;
  text-shadow: 0 0 10px rgba(86, 16, 225, 0.25);
}

@media  screen and (max-width:830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .menu {
   position: absolute ;
   right: 0;
   margin-right: 10%;
   flex-direction: column;
   align-items: flex-end;
   gap: 11px;
   z-index: 3;
  }
  .menuBtn{
    display: block;
    cursor: pointer;
    position:inherit;
    width: 30px;
    height: auto;

  }
  .menuitems  {
    display: none;
    flex-direction: none;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background:rgb(25,55,100);
    background: linear-gradient(0deg,rgba(25,55,109,0.2)0%,rgba(25,55,109,1)100%);
    padding: 24px 33px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  }
  .menuOpen {
    display: flex;
    z-index: 1;
    flex-direction: column;
  } 
  .menuitems a{
    font-size:5px;
  }
}
@media  screen and (max-width:1050px) {
  .menuitems a{
    font-size:22px;
  }
  .menuitems{
    margin-top: 20px;
  }

}
@media  screen and (max-width:1024px) {
  .menuitems a{
    font-size:18px;
  } 
  .menuitems{
    margin-top: 20px;
  }
}
@media screen and (max-width:920px) {
  .menuitems a{
    font-size:18px;
  }
  .menuitems{
    margin-top: 25px;
  }
}
@media screen and (max-width:890px) {
  .menuitems a{
    font-size:15px;
  }
}
