@import '../../vars.css';
.container{
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    /* height: 500px; */
}
.para{
    margin-left: 60px; /* Ensures all elements start at the same line */
    margin-right: 60px;
    font-size: 14px;
    line-height: 1.5;
}
.content{
    width: 50%;
    height: 505px;
    background-color: #29529f;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:80px 160px 100px 160px;
    gap: 20px;
}
.image{
    width: 50%;
    height:505px;
}
.content img{
    width: 120px;
    height: auto;
    
}
.image img{
    width: 100%;
    height: auto;
}
.title{
    font-size: 35px;
    font-weight: 500;
    font-family: var(--fonts-robot);

    
}
.content .b{
    font-size: 2.5rem;
}
@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .para {
        margin-left: 20px;
        margin-right: 20px;
    }
    .content, .image {
        width: 100%;
        height: auto;
        padding: 40px 20px;
    }
    .content img{
        width: 80px;
    }
    .image img{
        width: 100%;
        height: auto;
    }
    .title {
        font-size: 28px;
    }
    
}