@import '../../vars.css';
.container{
    color: var(--color-text);
    margin-top: 72px;
    padding-bottom: 50px;
    margin-left: 10%;
    margin-left: 10%;
    background-color:royalblue;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.content{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-top: 14px;
}
.title{
    font-size:37px;
    font-weight: 520;
    font-family: var(--fonts-robot);
    color: var(--color-text);
    text-transform:capitalize;
    letter-spacing: 1.75px;
    text-align: center;
    padding-top: 40px;
}
.Services{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}